# Logs
logs
*.log
npm-debug.log*

node_modules
.DS_Store
dist
coverage
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# TypeScript
*.tsbuildinfo

# Storybook
storybook-static

# Deployment
.vercel
